body{
    background-color: var(--quarta);
}
/* Topo */
#cima{
    display: block;
    width: 90%;
    margin-left: 5%;
    height: 189px;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--primeira);
    text-align: center;
}
#cima .navegacao a img.login{
    position: absolute;
    left: 90%;
    top: 10px;
}
#cima.active{
    position: fixed;
    height: 60px;
    z-index: 9999;
    text-align: start;
    margin-top: -260px;
}
#cima.activeDif{
    margin-top: -190px;
    border-bottom: 2px solid var(--quarta);
}
#cima.active .navegacao a img.logo{
    width: 172px;
    height: 60px;
}
#cima.active .navegacao a img.login{
    width: 30px;
    height: 30px;
    left: 96%;
    top: 5px;
    margin-top: 8px;
}
/* /Topo */
/* Filtro */
#filtro{
    display: flex;
    flex-direction: column;
    width: 84%;
    margin-left: 8%;
    border-radius: 0px 0px 20px 20px;
    height: 50px;
    background-color: var(--primeira);
    border-top: 3px solid var(--quarta);
    border-bottom: 2px solid var(--quarta);
    color: var(--quarta);
    padding-left: 20px;
    padding-right: 20px;
}
#filtro div form{
    font-size: 18pt;
    font-weight: bold;
}
#filtro div form select{
    border: 0;
    border-radius: 4px;
    margin-top: 4px;
    background-color: var(--primeira);
    color: var(--quarta);
}
#filtro div a{
    margin-top: 2px;
    text-align: end;
}
#filtro.active{
    position: fixed;
    z-index: 9999;
    margin-top: -200px;
}
/* /Filtro */
/* Index */
#cardapio{
    display: block;
    width: 100%;
}
#cardapio .fil h2{
    color: var(--segunda);
    margin-left: 10%;
    margin-top: 20px;
}
#cardapio .fil .card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--primeira);
    margin-top: 20px;
    left: 18%;
    width: 60%;
    height: 120px;
}
#cardapio .fil .card a{
    text-decoration: none;
}
#cardapio .fil .card a div .textos{
    color: var(--quarta);
    padding-left: 35px;
    padding-top: 5px;
}
#cardapio .fil .card a div .imagem{
    text-align: end;
    padding: 15px;
    padding-right: 35px;
}
#cardapio .fil .card a div .imagem img{
    border: 2px solid var(--quarta);
}
#cardapio.active{
    margin-top: 260px;
}
/* /Index */
/* Detalhe Pedidos */
#detalhes{
    display: flex;
    flex-direction: column;
}
#detalhes .detalhes{
    margin-left: 20%;
    margin-top: 50px;
    width: 60%;
    height: 600px;
    background-color: var(--primeira);
    color: var(--quarta);
    border-radius: 20px;
    text-align: center;
}
#detalhes .voltar{
    text-decoration: none;
    margin-left: 10%;
    margin-top: 20px;
}
#detalhes .detalhes .imagem{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 5%;
}
#detalhes .detalhes .textos{
    margin-top: -20%;
}
#detalhes .detalhes .textos h1{
    font-size: 20pt;
}
#detalhes .detalhes .textos h2{
    font-size: 15pt;
}
#detalhes .detalhes .observacao form label{
    font-size: 15pt;
}
#detalhes .detalhes .observacao form textarea{
    width: 90%;
    height: 80px;
    background-color: var(--quarta);
}
#detalhes .detalhes .observacao form input{
    margin-top: 2%;
    width: 35px;
    background-color: var(--quarta);
}
#detalhes .detalhes .observacao form div{
    width: 100%;
}
#detalhes .detalhes .observacao form button{
    margin-top: 2%;
    border-radius: 20px;
    background-color: var(--segunda);
    width: 60%;
    text-transform: uppercase;
    color: var(--quarta);
}
#detalhes.active{
    margin-top: 190px;
}
/* /Detalhe Pedidos */
#carrinho{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background-color: var(--primeira);
    width: 90%;
    margin-left: 5%;
    border-top: 2px solid var(--quarta);
    border-radius: 20px 20px 0 0;
    height: 50px;    
    line-height: 100px;
    text-align: end;
}
#carrinho a{
    text-decoration: none;
    color: var(--quarta);
}
#carrinho a div .preco{
    text-align: end;
    padding-right: 10%;
}
#carrinho.active{
    position: relative;
    margin-top: 180px;
    border-bottom: 2px solid var(--quarta);
}
#baixo{
    display: block;
    background-color: var(--primeira);
    width: 90%;
    margin-left: 5%;
    height: 150px;
    margin-top: 250px;
    margin-bottom: 50px;
    color: var(--quarta);
    text-align: center;
}
#baixo .fimpag .contato a {
    text-decoration: none;
}
#baixo .fimpag .contato a img.zap{
    margin-right: 15px;
}
#baixo .fimpag .contato a img.insta{
    margin-left: 15px;
}
#baixo.active{
    margin-top: 0;
    margin-bottom: 0;
}