body{
    background-color: var(--quarta);
}
/* Topo */
#cima{
    display: block;
    width: 90%;
    margin-left: 5%;
    height: 189px;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--primeira);
    text-align: center;
}
#cima .navegacao a img#logo.active{
    margin-left: -20%;
}
#cima .navegacao a img.login{
    position: absolute;
    left: 90%;
    top: 10px;
}
#cima .navegacao a img.perfil{
    position: absolute;
    left: 90%;
    top: 10px;
}
#cima.active{
    position: fixed;
    height: 60px;
    z-index: 9999;
    text-align: start;
    margin-top: -260px;
}
#cima.active .navegacao a img.logo{
    width: 172px;
    height: 60px;
}
#cima.active .navegacao a img.login{
    width: 30px;
    height: 30px;
    left: 96%;
    top: 5px;
    margin-top: 8px;
}
#cima.active .navegacao a img.perfil{
    width: 30px;
    height: 30px;
    left: 96%;
    top: 5px;
    margin-top: 8px;
}
/* /Topo */
/* Filtro */
#filtro{
    display: flex;
    flex-direction: column;
    width: 84%;
    margin-left: 8%;
    border-radius: 0px 0px 20px 20px;
    height: 50px;
    background-color: var(--primeira);
    border-top: 3px solid var(--quarta);
    border-bottom: 2px solid var(--quarta);
    color: var(--quarta);
    padding-left: 20px;
    padding-right: 20px;
}
#filtro div form{
    font-size: 18pt;
    font-weight: bold;
}
#filtro div form select{
    border: 0;
    border-radius: 4px;
    margin-top: 4px;
    background-color: var(--primeira);
    color: var(--quarta);
}
#filtro div a{
    margin-top: 2px;
    text-align: end;
}
#filtro.active{
    position: fixed;
    z-index: 9999;
    margin-top: -200px;
}
/* /Filtro */
/* Index */
#cardapio{
    display: block;
    width: 100%;
}
#cardapio .fil h2{
    color: var(--segunda);
    margin-left: 10%;
    margin-top: 20px;
}
#cardapio .fil .card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--primeira);
    margin-top: 20px;
    left: 18%;
    width: 60%;
    height: auto;
}
#cardapio .fil .card a{
    text-decoration: none;
}
#cardapio .fil .card a div .textos{
    color: var(--quarta);
    padding-left: 35px;
    padding-top: 5px;
}
#cardapio .fil .card a div .imagem{
    text-align: end;
    padding: 15px;
    padding-right: 35px;
}
#cardapio .fil .card a div .imagem img{
    border: 2px solid var(--quarta);
}
#cardapio.active{
    margin-top: 260px;
}
#carrinho{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background-color: var(--primeira);
    width: 90%;
    margin-left: 5%;
    border-top: 2px solid var(--quarta);
    border-radius: 20px 20px 0 0;
    height: 50px;    
    line-height: 100px;
    text-align: end;
}
#carrinho a{
    text-decoration: none;
    color: var(--quarta);
}
#carrinho a div .preco{
    text-align: end;
    padding-right: 10%;
}
#carrinho.active{
    position: relative;
    margin-top: 60px;
    margin-bottom: 0px;
    border-bottom: 2px solid var(--quarta);
}
/* /Index */
/* Detalhe Pedidos */
#cima.activeDif{
    margin-top: -200px;
    border-bottom: 2px solid var(--quarta);
}
#detalhes{
    display: flex;
    flex-direction: column;
}
#detalhes .detalhes{
    margin-left: 20%;
    margin-top: 50px;
    width: 60%;
    padding-bottom: 20px;
    height: auto;
    background-color: var(--primeira);
    color: var(--quarta);
    border-radius: 20px;
    text-align: center;
}
#voltar{
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: -30px;
}
#voltar a{
    text-decoration: none;
}
#detalhes .detalhes .imagem{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 5%;
}
#detalhes .detalhes .textos{
    margin-top: 2%;
    margin-bottom: 20px;
}
#detalhes .detalhes a{
    text-decoration: none;
    width: 60%;
    border-radius: 20px;
    font-size: 14pt;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    background-color: var(--quarta);
    color: var(--primeira);
}
#detalhes .detalhes .textos h1{
    font-size: 20pt;
}
#detalhes .detalhes .textos h2{
    font-size: 15pt;
}
#detalhes .detalhes .observacao form label{
    font-size: 15pt;
}
#detalhes .detalhes .observacao form input{
    margin-top: 2%;
    width: 35px;
    background-color: var(--quarta);
}
#detalhes .detalhes .observacao form div{
    width: 100%;
}
#detalhes .detalhes .observacao form button{
    margin-top: 2%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--quarta);
    width: 60%;
    text-transform: uppercase;
    color: var(--segunda);
}
#voltar.activeDif{
    position: fixed;
    margin-top: -130px;
    z-index: 9999;
}
#detalhes.active{
    margin-top: 200px;
}
#baixo.activeDel{
    margin-top: 140px;
    margin-bottom: 0px;
}
/* /Detalhe Pedidos */
/* Tela Login */
#cima.activeLog{
    margin-top: -280px;
    border-bottom: 2px solid var(--quarta);
}
#baixo.activeLog{
    border-radius: 20px 20px 0 0;
    margin-top: 200px;
    margin-bottom: 0;
}
#login{
    height: auto;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
    margin-top: 5%;
    background-color: var(--primeira);
    text-align: center;
}
#login div h1, #login div form{
    padding-top: 10px;
    color: var(--quarta);
}
#login div h1.registro{
    margin-top: 10px;
    border-top: 20px solid var(--quarta);
    width: 120%;
    margin-left: -10%;
}
#login div form label{
    position: relative;
    font-size: 14pt;
    width: 100%;
    margin-left: 25%;
    text-align: start;
    font-weight: bold;
}
#login div form input{
    background-color: var(--quarta);
    border-radius: 5px;
    width: 50%;
}
#login div form button{
    background-color: var(--quarta);
    margin-left: 30%;
    width: 20%;
    margin-bottom: 40px;
    color: var(--primeira);
    border-radius: 5px;
}
#voltar.active{
    position: fixed;
    margin-top: -210px;
    z-index: 9999;
}
#login.active{
    margin-top: 280px;
}
/* /Tela Login */
/* Tela Carrinho */
#telaCarrinho{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-top: 40px;
    margin-left: 20%;
    background-color: var(--primeira);
    border-radius: 20px;
    text-align: center;
}
#telaCarrinho form table{
    margin-top: 20px;
    font-size: 14pt;
    width: 100%;
    border-bottom: 2px solid var(--quarta);
    color: var(--quarta);
}
#telaCarrinho form .tabela div.row{
    margin-left: 40%;
}
#telaCarrinho form .tabela a.btnAd{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 14pt;
    font-weight: bold;
    border: 2px solid var(--quarta);
    margin-top: -10px;
}
#telaCarrinho form .tabela a:active{
    transform: scale(0.8);
    opacity: 0.6;
}
#telaCarrinho form .tabela a.btnAd img{
    position: relative;
    left: -8px;
    top: 2px;
}
#telaCarrinho form .observacao label{
    color: var(--quarta);
    font-weight: bold;
    font-size: 14pt;
    width: 100%;
    margin-top: 10px;
}
#telaCarrinho form .observacao textarea{
    margin-top: 15px;
    width: 60%;
    height: 100px;
    background-color: var(--quarta);
    color: var(--segunda);
}
#telaCarrinho form .valorTotal{
    margin-top: 50px;
    color: var(--quarta);
    font-size: 14pt;
    font-weight: bold;
}
#telaCarrinho form .valorTotal div p.txt{
    text-align: end;
}
#telaCarrinho form .button{
    margin-top: 20px;
}
#telaCarrinho form .button button{
    font-weight: bold;
    font-size: 12pt;
    background-color: var(--quarta);
    border-radius: 20px;
    height: 40px;
    width: 60%;
    margin-bottom: 20px;
}
#cima.activeCar{
    margin-top: -245px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeCar{
    position: fixed;
    margin-top: -175px;
    z-index: 9999;
}
#telaCarrinho.active{
    margin-top: 245px;
}
#baixo.activeCar{
    margin-top: 100px;
    margin-bottom: 0px;
}
/* /Tela Carrinho */
/* TelaEndereço */
#cima.activeEnd{
    margin-top: 0px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeEnd{
    position: fixed;
    margin-top: 70px;
    z-index: 9999;
}
#baixo.activeEnd{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 200px;
    margin-bottom: 0;
}
#endereco{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 80px;
    text-align: center;
    border: 5px solid var(--primeira);
    border-radius: 20px;
    padding: 20px;
}
#endereco .endereco h1{
    color: var(--primeira);
    margin-bottom: 20px;
}
#endereco .endereco form{
    font-size: 14pt;
    font-weight: bold;
}
#endereco .endereco form label{
    width: 100%;
    text-align: start;
    margin-left: 20%;
}
#endereco .endereco form input{
    border-radius: 10px;
    width: 60%;
    background-color: var(--primeira);
    color: var(--quarta);
}
#endereco .endereco form button{
    width: 50%;
    background-color: var(--primeira);
    color: var(--quarta);
    margin-top: 30px;
    border-radius: 20px;
}
#endereco.active{
    margin-top: 290px;
}
/* /TelaEndereço */
/* Tela Pagamento */
#pagamento{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-left: 20%;
    text-align: center;
    color: var(--segunda);
}
#pagamento .pagamento div{
    margin-top: 4%;
}
#pagamento .pagamento div h3{
    font-size: 14pt;
    text-align: end;
}
#pagamento .pagamento div label{
    font-size: 14pt;
    text-align: end;
}
#pagamento .pagamento div input{
    margin-top: 5px;
    height: 20px;
    margin-left: -8%;
}
#pagamento .pagamento form{
    display: none;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    background-color: var(--primeira);
}
#pagamento .pagamento form.cartao{
    display: block;
}
#pagamento .pagamento form h2{
    font-size: 20pt;
    margin-top: 10px;
    font-weight: bold;
    color: var(--quarta);
}
#pagamento .pagamento form label{
    font-size: 14pt;
    font-weight: bold;
    width: 100%;
    text-align: start;
    margin-left: 20%;
    color: var(--quarta);
}
#pagamento .pagamento form input{
    width: 60%;
    background-color: var(--quarta);
    color: var(--primeira);
}
#pagamento .pagamento form.cartao label.mod{
    margin-left: 25%;
}
#pagamento .pagamento form.cartao label.mod2{
    position: relative;
    margin-left: 25%;
    top: -57px;
    padding-left: 30%;
}
#pagamento .pagamento form.cartao input.mod{
    width: 20%;
    margin-left: -30%;
}
#pagamento .pagamento form.cartao input.mod2{
    position: relative;
    left: 46%;
    top: -57px;
    width: 20%;
}
#pagamento .pagamento form.cartao label.mod8{
    width: 40%;
    margin-left: 5%;
    font-size: 16pt;
}
#pagamento .pagamento form.cartao label.mod9{
    width: 40%;
    margin-left: -24%;
    font-size: 16pt;
}
#pagamento .pagamento form.cartao input.mod10{
    width: 60%;
    margin: 0;
    margin-top: 20px;
    margin-left: 0%;
    border-radius: 20px;
    color: var(--primeira);
}
#pagamento .pagamento form.dinheiro{
    text-align: start;
    position: relative;
}
#pagamento .pagamento form.dinheiro h2{
    text-align: center;
    margin-bottom: 20px;
}
#pagamento .pagamento form.dinheiro label.mod1{
    width: 15%;
    margin-left: 35%;
}
#pagamento .pagamento form.dinheiro label.mod2{
    width: 20%;
    text-align: start;
    margin-left: -20px;
}
#pagamento .pagamento form.dinheiro input.mod3{
    height: 25px;
    width: 15px;
    margin-left: -15%;
}
#pagamento .pagamento form.dinheiro label.mod4{
    width: 20%;
    text-align: start;
    margin-left: 2%;
}
#pagamento .pagamento form.dinheiro input.mod5{
    height: 25px;
    width: 15px;
    margin-left: -15%;
}
#pagamento .pagamento form.dinheiro label.mod6{
    width: 15%;
    margin-left: 35%;
}
#pagamento .pagamento form.dinheiro input.mod7{
    width: 18%;
    margin-left: -2%;
}
#pagamento .pagamento form.dinheiro label.mod8{
    width: 50%;
    text-align: end;
    margin: 0;
    margin-left: -4%;
    margin-top: 20px;
}
#pagamento .pagamento form.dinheiro label.mod9{
    width: 40%;
    margin: 0;
    margin-left: 4%;
    margin-top: 20px;
}
#pagamento .pagamento form.dinheiro input.mod10{
    width: 60%;
    margin: 0;
    margin-top: 20px;
    margin-left: 20%;
    border-radius: 20px;
    color: var(--primeira);
}
#cima.activePag{
    margin-top: -210px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activePag{
    position: fixed;
    margin-top: -140px;
    z-index: 9999;
}
#pagamento.active{
    margin-top: 210px;
}
#baixo.activePag{
    margin-top: 150px;
    margin-bottom: 0;
}
/* /Tela Pagamento */
/* Tela retirada */
#retirada{
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 50px;
    text-align: center;
}
#retirada h1{
    margin-bottom: 30px;
}
#retirada div.row{
    width: 80%;
    margin-left: 15%;
}
#retirada div.row h3{
    font-size: 15pt;
}
#retirada div.row label{
    font-weight: bold;
    width: 10%;
}
#retirada div.estabelecimento, div.residencia{
    display: none;
    width: 100%;
    height: 300px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: var(--primeira);
    color: var(--quarta);
}
#retirada div.estabelecimento{
    display: block;
}
#retirada div.residencia div.card{
    background-color: var(--primeira);
}
#retirada div.residencia div.card a{
    text-decoration: none;
    color: var(--quarta);
}
#retirada div.residencia div.card a div.row h4.first{
    margin-left: -5%;
}
#retirada div.residencia div.card a div.row h4{
    font-size: 13pt;
}
#retirada div.estabelecimento h4,  div.residencia h4{
    margin-top: 20px;
    padding-top: 20px;
}
#retirada div.estabelecimento button, div.residencia button{
    margin-top: 10%;
    font-size: 16pt;
    font-weight: bold;
    background-color: var(--quarta);
    color: var(--primeira);
    border-radius: 20px;
    padding: 5px 20px;
}
#retirada div.residencia{
    height: auto;
}
#retirada div.residencia button{
    margin-top: 30px;
    margin-bottom: 30px;
}
#cima.activeLc{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeLc{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#retirada.activeLc{
    margin-top: 250px;
}
#baixo.activeLc{
    margin-top: 150px;
    margin-bottom: 0;
}
/* /Tela retirada */
/* PerfilCliente */
#cliente{
    background-color: var(--primeira);
    color: var(--quarta);
    border-radius: 20px;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
#cliente button{
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: var(--quarta);
    color: var(--primeira);
    font-weight: bold;
    font-size: 14pt;
}
#cliente div.cores div.row button{
    width: 50px;
    border-radius: 30px;
    height: 50px;
    margin-left: 20%;
    border: 2px solid white;
    margin-bottom: 40px;
}
#cliente div.cores div.row button.azul{
    background-color: rgb(0, 110, 255);
}
#cliente div.cores div.row button.vermelha:hover,
#cliente div.cores div.row button.azul:hover, 
#cliente div.cores div.row button.preto:hover{
    transform: scale(0.8);
    opacity: 0.6;
    border: 2px solid greenyellow;
}
#cliente div.cores div.row button.vermelha{
    background-color: darkred;
}
#cliente div.cores div.row button.preto{
    background-color: black;
}
#cima.activePf{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activePf{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#cliente.activePf{
    margin-top: 250px;
}
#baixo.activePf{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 100px;
    margin-bottom: 0;
}
/* /PerfilCliente */
/* MyAddress */
#address{
    background-color: var(--primeira);
    color: var(--quarta);
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 100px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
}
#address div{
    background-color: var(--primeira);
    width: 90%;
    margin-left: 5%;
    border-bottom: 2px solid var(--quarta);
    padding: 10px;
}
#address div h4{
    font-size: 13pt;
}
#address div h4.first{
    margin-left: -5%;
}
#address div h4.back{
    margin-left: 4%;
}
#cima.activeAdd{
    margin-top: -310px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeAdd{
    position: fixed;
    margin-top: -240px;
    z-index: 9999;
}
#address.activeAdd{
    margin-top: 310px;
}
#baixo.activeAdd{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 180px;
    margin-bottom: 0;
}
/* /MyAddress */
/* HistoricoCli */
#historicoCli{
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 20px;
    height: auto;
    text-align: center;
}
#historicoCli .separaCard{
    width: 100%;
}
#historicoCli .separaCard .card{
    background-color: var(--primeira);
    color: var(--quarta);
    width: 23%;
    height: 350px;
    margin-left: 2%;
    margin-bottom: 20px;
    border-radius: 20px;
}
#historicoCli .separaCard .card:hover{
    transform: scale(1.3);
    z-index: 9999;
}
#historicoCli .separaCard .card.pendente{
    border: 4px solid rgb(155, 8, 8);
}
#historicoCli .separaCard .card.pago{
    border: 4px solid rgb(13, 155, 8);
}
#historicoCli .separaCard .card h3{
    font-size: 11pt;
    font-weight: bold;
}
#historicoCli .separaCard .card h3.valor{
    font-size: 14pt;
    text-align: end;
    position: absolute;
    left: 30%;
    top: 85%;
}
#historicoCli .separaCard .card h4{
    font-size: 12pt;
    font-weight: bold;
    padding-top: 10px;
}
#historicoCli .separaCard .card div.itens{
    border-top: 2px dashed var(--quarta);
}
#historicoCli .separaCard .card div.itens h5.itens{
    text-align: start;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 13pt;
}
#historicoCli .separaCard .card div.itens h5{
    font-size: 11pt;
    font-weight: bold;
}
#cima.activeHi{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeHi{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#historicoCli.activeHi{
    margin-top: 250px;
}
#baixo.activeHi{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 180px;
    margin-bottom: 0;
}
/* /HistoricoCli */
/* Gerenciamento */
#gerencia{
    background-color: var(--primeira);
    color: var(--quarta);
    border-radius: 20px;
    width: 60%;
    height: 400px;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
#gerencia button{
    width: 50%;
    margin-top: 5.2%;
    margin-bottom: 5.2%;
    border-radius: 20px;
    background-color: var(--quarta);
    color: var(--primeira);
    font-weight: bold;
    font-size: 14pt;
}
#cima.activeGer{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeGer{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#gerencia.activeGer{
    margin-top: 250px;
}
#baixo.activeGer{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 100px;
    margin-bottom: 0;
}
/* /Gerenciamento */
/* ControleComida */
#controleComida{
    display: block;
    width: 100%;
    margin-top: 40px;
}
#controleComida button{
    width: 40%;
    margin-left: 30%;
    border-radius: 20px;
    background-color: var(--primeira);
    color: var(--quarta);
    font-size: 16pt;
    font-weight: bold;
}
#controleComida .comidas .card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--primeira);
    margin-top: 20px;
    margin-left: 20%;
    width: 60%;
    height: auto;
}
#controleComida .comidas .card div .textos{
    color: var(--quarta);
    padding-left: 35px;
    padding-top: 5px;
}
#controleComida .comidas .card div .imagem{
    text-align: end;
    padding: 15px;
    padding-right: 35px;
}
#controleComida .comidas .card div .imagem img{
    border: 2px solid var(--quarta);
}
#controleComida .comidas .card div a{
    margin-top: 5%;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
}
#cima.activeCC{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeCC{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#controleComida.activeCC{
    margin-top: 250px;
}
#baixo.activeCC{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 100px;
    margin-bottom: 0;
}
/* /ControleComida */
/* Adicionar */
#adicionar{
    width: 60%;
    height: 400px;
    border-radius: 20px;
    margin-left: 20%;
    margin-top: 40px;
    background-color: var(--primeira);
    color: var(--quarta);
    text-align: center;
}
#adicionar form{
    font-size: 12pt;
    font-weight: bold;
}
#adicionar form label{
    text-align: start;
    width: 20%;
    margin-top: 4%;
}
#adicionar form input{
    background-color: var(--primeira);
    width: 70%;
    color: var(--quarta);
}
#adicionar form button{
    width: 60%;
    border-radius: 20px;
    background-color: var(--terceira);
    margin-top: 2%;
    color: var(--sexta);
}
#cima.activeADC{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeADC{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#adicionar.activeADC{
    margin-top: 250px;
}
#baixo.activeADC{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 100px;
    margin-bottom: 0;
}
/* /Adicionar */
/* Editar Comida */
#editarComida{
    width: 60%;
    height: 400px;
    border-radius: 20px;
    margin-left: 20%;
    margin-top: 40px;
    background-color: var(--primeira);
    color: var(--quarta);
    text-align: center;
}
#editarComida form{
    font-size: 12pt;
    font-weight: bold;
}
#editarComida form label{
    text-align: start;
    width: 20%;
    margin-top: 4%;
}
#editarComida form input{
    background-color: var(--primeira);
    width: 70%;
    color: var(--quarta);
}
#editarComida form button{
    width: 60%;
    border-radius: 20px;
    background-color: var(--terceira);
    margin-top: 2%;
    color: var(--sexta);
}
#cima.activeEC{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeEC{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#editarComida.activeEC{
    margin-top: 250px;
}
#baixo.activeEC{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 100px;
    margin-bottom: 0;
}
/* /Editar Comida */
/* Controle Usuario */
#controleUsuario{
    display: block;
    width: 100%;
    margin-top: 40px;
}
#controleUsuario .usuarios .card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--primeira);
    margin-top: 20px;
    margin-left: 20%;
    width: 60%;
    height: auto;
    text-align: center;
}
#controleUsuario .usuarios .card div{
    color: var(--quarta);
    padding-top: 5px;
}
#controleUsuario .usuarios .card div h3{
    font-size: 14pt;
    margin-left: 10px;
    font-weight: bold;
}
#controleUsuario .usuarios .card div p{
    font-size: 12pt;
}
#controleUsuario .usuarios .card div a{
    font-size: 14pt;
    font-weight: bold;
    text-align: end;
    margin-left: -10%;
    text-decoration: none;
}
#cima.activeCU{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeCU{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#controleUsuario.activeCU{
    margin-top: 250px;
}
#baixo.activeCU{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 100px;
    margin-bottom: 0;
}
/* /Controle Usuario */
/* Orçamentos */
#orcamentos{
    width: 100%;
}
#orcamentos .detalhes .row{
    background-color: var(--primeira);
    color: var(--quarta);
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 20px;
    height: auto;
    text-align: center;
}
#orcamentos .detalhes .row .valor{
    text-align: end;
}
#orcamentos .cliente{
    color: var(--primeira);
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 20px;
    height: auto;
    text-align: center;
}
#orcamentos .cliente h3{
    font-size: 18pt;
    font-weight: bold;
}
#orcamentos .separa{
    width: 70%;
    margin-left: 14%;
    margin-top: 50px;
    height: auto;
}
#orcamentos .separa h3.resposta{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}
#orcamentos .separa .card{
    background-color: var(--primeira);
    color: var(--quarta);
    width: 20%;
    border-radius: 20px;
    height: 150px;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
}
#orcamentos .separa .card:hover{
    transform: scale(1.3);
    z-index: 9999;
}
#orcamentos .separa .card.pendente{
    border: 4px solid rgb(155, 8, 8);
}
#orcamentos .separa .card.pago{
    border: 4px solid rgb(13, 155, 8);
}
#orcamentos .separa .card h4{
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px dashed var(--quarta);
}
#orcamentos .separa .card h3{
    font-weight: bold;
    margin-top: 40px;
    font-size: 14pt;
}
#cima.activeOrc{
    margin-top: -250px;
    border-bottom: 2px solid var(--quarta);
}
#voltar.activeOrc{
    position: fixed;
    margin-top: -180px;
    z-index: 9999;
}
#orcamentos.activeOrc{
    margin-top: 250px;
}
#baixo.activeOrc{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 180px;
    margin-bottom: 0;
}
/* /Orçamentos */
#baixo{
    display: block;
    background-color: var(--primeira);
    width: 90%;
    margin-left: 5%;
    height: 150px;
    margin-top: 250px;
    color: var(--quarta);
    text-align: center;
}
#baixo .fimpag .contato a {
    text-decoration: none;
}
#baixo .fimpag .contato a img.zap{
    margin-right: 15px;
}
#baixo .fimpag .contato a img.insta{
    margin-left: 15px;
}
#baixo.active{
    margin-top: 0;
    margin-bottom: 0;
}