@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
body, h1, h2, h3, h4, h5, p{
    font-family: 'IM Fell French Canon', serif;
}
.logo{
    padding: 5px, 5px;
}
.perfil{
    width: 34px;
    height: 36px;
}
.login{
    width: 36px;
    height: 36px;
}
.prato{
    width: 120px;
    height: 90px;
}
.lupa, .zap, .insta, .voltar{
    width: 40px;
    height: 40px;
}
img.btnMe, img.btnMa{
    padding-left: 40%;
    width: 25px;
    height: 20px;
}
.pratoPedido{
    width: 200px;
    height: 150px;
    border: 2px solid var(--quarta);
}