.logo{
    padding: 5px, 5px;
}
.perfil{
    width: 34px;
    height: 36px;
}
.login{
    width: 36px;
    height: 36px;
}
.prato{
    width: 120px;
    height: 90px;
}
.lupa, .zap, .insta, .voltar{
    width: 40px;
    height: 40px;
}
.btnMe, .btnMa{
    width: 30px;
    height: 20px;
}
.pratoPedido{
    width: 200px;
    height: 150px;
    border: 2px solid var(--quarta);
}