/*@media (min-width: 992px){

}
@media (max-width: 991.98px){

}
@media (max-width: 767.98px){

}*/
@media (max-width: 539.98px){
    .logo{
        margin-top: 10px;
        width: 250px;
        height: 200px;
    }
    .login{
        width: 25px;
        height: 25px;
    }
    .prato{
        margin-top: 8%;
        margin-left: -25%;
        width: 140%;
        height: 90%;
    }
    .lupa, .zap, .insta{
        width: 30px;
        height: 30px;
    }
    .pratoPedido{
        margin-top: 10%;
        width: 100%;
        height: 45%;
        border: 2px solid var(--quarta);
    }
    /* layout */
    #cima{
        width: 100%;
        margin-left: 0;
    }
    #cima.active{
        margin-top: -290px;
    }
    #cima.active .navegacao a img.login{
        left: 86%;
    }
    #cima.active .navegacao a img.logo{
        margin-top: 0;
    }
    #filtro{
        width: 90%;
        margin-left: 5%;
        height: 80px;
    }
    #filtro div form select{
        margin-top: 0;
        width: 80%;
    }
    #filtro div a img.lupa{
        margin-top: 8px;
    }
    #filtro div form label.titulo, 
    #cardapio .fil h2, 
    #baixo .fimpag h2.titulo{
        font-size: 13pt;
    }
    #carrinho a div h2{
        margin-top: 3%;
        font-size: 13pt;
    }
    #carrinho.active{
        margin-top: 40px;
    }
    #baixo{
        height: 100px;
        margin-bottom: 51px;
        padding-top: 8px;
    }
    /* /layout */
    /* Index */
    #cardapio .fil .card{
        width: 90%;
        left: 5%;
    }
    #filtro.active{
        margin-top: -230px;
    }
    #cardapio.active{
        margin-top: 290px;
    }
    #cardapio .fil h2{
        font-size: 12pt;
    }
    #cardapio .fil .card a div .textos{
        margin-top: 5%;
    }
    #cardapio .fil .card a div .textos h3{
        font-size: 12pt;
    }
    #cardapio .fil .card a div .textos p{
        font-size: 8pt;
    }
    /* /Index */
    /* DetalhePedido */
    #cima.activeDif{
        margin-top: -190px;
    }
    #detalhes{
        height: 600px;
    }
    #detalhes .voltar{
        margin-top: 10px;
        margin-bottom: -20px;
    }
    #detalhes .detalhes .imagem{
        width: 60%;
        height: 40%;
        margin-left: 20%;
        margin-top: 5%;
    }
    #detalhes .detalhes .textos{
        margin-top: -40%;
    }
    #detalhes .detalhes .textos h1{
        font-size: 15pt;
    }
    #detalhes .detalhes .textos h2{
        font-size: 10pt;
    }
    #detalhes .detalhes .observacao form label{
        font-weight: bold;
        font-size: 10pt;
    }
    #detalhes .detalhes .observacao form textarea{
        width: 90%;
        height: 100px;
        background-color: var(--quarta);
    }
    #detalhes .detalhes .observacao form input{
        margin-top: 4%;
        width: 30px;
        background-color: var(--quarta);
    }
    #detalhes .detalhes .observacao form button{
        margin-top: 15%;
        border-radius: 20px;
        background-color: var(--segunda);
        font-size: 10pt;
        width: 90%;
        text-transform: uppercase;
        color: var(--quarta);
    }
    /* /DetalhePedido */
}