/*@media (min-width: 992px){

}
@media (max-width: 991.98px){

}
@media (max-width: 767.98px){

}*/
@media (max-width: 539.98px){
    .logo{
        margin-top: 10px;
        width: 250px;
        height: 200px;
    }
    .perfil{
        width: 24px;
        height: 25px;
    }
    .login{
        width: 25px;
        height: 25px;
    }
    .prato{
        margin-top: 8%;
        margin-left: -25%;
        width: 140%;
        height: 90%;
    }
    .lupa, .zap, .insta, .voltar{
        width: 30px;
        height: 30px;
    }
    img.btnMe, img.btnMa{
        padding-left: 10%;
        width: 15px;
        height: 15px;
    }
    .pratoPedido{
        margin-top: 10%;
        width: 100%;
        height: 45%;
        border: 2px solid var(--quarta);
    }
    /* layout */
    #cima{
        width: 100%;
        margin-left: 0;
    }
    #cima.active{
        margin-top: -290px;
    }
    #cima.active .navegacao a img.perfil{
        left: 86%;
    }
    #cima.active .navegacao a img.login{
        left: 86%;
    }
    #cima.active .navegacao a img.logo{
        margin-top: 0;
    }
    #filtro{
        width: 90%;
        margin-left: 5%;
        height: 80px;
    }
    #filtro div form select{
        margin-top: 0;
        width: 80%;
    }
    #filtro div a img.lupa{
        margin-top: 8px;
    }
    #filtro div form label.titulo, 
    #cardapio .fil h2, 
    #baixo .fimpag h2.titulo{
        font-size: 13pt;
    }
    #carrinho a div h2{
        margin-top: 3%;
        font-size: 13pt;
    }
    #carrinho.active{
        margin-top: 80px;
    }
    #baixo{
        height: 100px;
        margin-top: 100px;
    }
    /* /layout */
    /* Index */
    #cardapio .fil .card{
        width: 90%;
        left: 5%;
    }
    #filtro.active{
        margin-top: -230px;
    }
    #cardapio.active{
        margin-top: 290px;
    }
    #cardapio .fil h2{
        font-size: 12pt;
    }
    #cardapio .fil .card a div .textos{
        margin-top: 5%;
    }
    #cardapio .fil .card a div .textos h3{
        font-size: 12pt;
    }
    #cardapio .fil .card a div .textos p{
        font-size: 8pt;
    }
    /* /Index */
    /* DetalhePedido */
    #cima.activeDif{
        margin-top: -200px;
    }
    #voltar.activeDif{
        margin-left: 4%;
        margin-top: -130px;
    }
    #detalhes .detalhes{
        width: 70%;
        margin-left: 15%;
    }
    #detalhes .voltar{
        margin-top: 10px;
        margin-bottom: -20px;
    }
    #detalhes .detalhes .imagem{
        width: 50%;
        height: 40%;
        margin-left: 25%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #detalhes .detalhes .textos{
        margin-top: 0%;
    }
    #detalhes .detalhes .textos h1{
        font-size: 15pt;
    }
    #detalhes .detalhes .textos h2{
        font-size: 10pt;
        margin-bottom: 5%;
    }
    #detalhes .detalhes .observacao form label{
        font-weight: bold;
        font-size: 10pt;
    }
    #detalhes .detalhes .observacao form textarea{
        width: 90%;
        height: 100px;
        background-color: var(--quarta);
    }
    #detalhes .detalhes .observacao form input{
        margin-top: 4%;
        width: 30px;
        background-color: var(--quarta);
    }
    #detalhes .detalhes .observacao form button{
        margin-top: 15%;
        border-radius: 20px;
        font-size: 10pt;
        width: 90%;
        text-transform: uppercase;
    }
    /* /DetalhePedido */
    /* Tela Login */
    #cima.activeLog{
        margin-top: -250px;
    }
    #voltar.active{
        margin-left: 4%;
        margin-top: -190px;
    }
    #baixo.activeLog{
        margin-top: 100px;
    }
    #login.active{
        margin-top: 250px;
    }
    #login{
        width: 70%;
        margin-top: 50px;
        margin-left: 15%;
        height: 650px;
    }
    #login div h1{
        font-size: 15pt;
        padding-top: 20px;
    }
    #login div form label{
        width: 100%;
        font-size: 12pt;
        margin-left: 10%;
        text-align: start;
    }
    #login div form input{
        width: 80%;
    }
    #login div form button{
        width: 40%;
        font-size: 10pt;
        margin-bottom: 0px;
        font-weight: bold;
    }
    /* /Tela Login */
    /* Tela Carrinho */
    #telaCarrinho{
        width: 70%;
        margin-left: 15%;
    }
    #telaCarrinho form table{
        font-size: 11pt;
    }
    #telaCarrinho form .tabela div.row{
        margin-left: 10%;
    }
    #telaCarrinho form .tabela p.meio{
        margin-top: -5px;
    }
    #telaCarrinho form .tabela a.btnAd{
        width: 20%;
        height: 28px;
        font-size: 10pt;
    }
    #telaCarrinho form .observacao label{
        font-size: 12pt;
    }
    #telaCarrinho form .valorTotal{
        font-size: 12pt;
    }
    #telaCarrinho form .valorTotal div p.valor{
        text-align: start;
    }
    #telaCarrinho.active{
        margin-top: 240px;
    }
    #voltar.activeCar{
        margin-top: -170px;
        margin-left: 5%;
    }
    #cima.activeCar{
        margin-top: -240px;
    }
    /* /Tela Carrinho */
    /* Tela endereço */
    #endereco{
        width: 75%;
        margin-top: 20px;
        margin-left: 12.5%;
    }
    #endereco .endereco h1{
        font-size: 16pt;
        font-weight: bold;
    }
    #endereco .endereco form{
        font-size: 10pt;
    }
    #endereco .endereco form label{
        margin-left: 10%;
    }
    #endereco .endereco form input{
        width: 80%;
    }
    #endereco .endereco form button{
        width: 80%;
    }
    #cima.activeEnd{
        margin-top: 0px;
    }
    #voltar.activeEnd{
        margin-top: 70px;
        margin-left: 2%;
    }
    #endereco.active{
        margin-top: 220px;
    }
    #baixo.activeEnd{
        margin-top: 100px;
    }
    /* /Tela endereço */
    /* Tela Pagamento */
    #pagamento .pagamento{
        margin-top: 40px;
        width: 100%;
    }
    #pagamento .pagamento h1{
        font-size: 16pt;
    }
    #pagamento .pagamento div h3{
        font-size: 12pt;
        text-align: start;
        margin-left: 17%;
        width: 100%;
    }
    #pagamento .pagamento div label{
        font-size: 12pt;
        text-align: start;
        margin-left: 10%;
    }
    #pagamento .pagamento div input{
        margin-left: -2%;
    }
    #pagamento .pagamento form.cartao h2{
        padding-top: 15px;
        font-size: 14pt;
    }
    #pagamento .pagamento form.cartao label{
        font-size: 12pt;
        margin-left: 10%;
    }
    #pagamento .pagamento form.cartao input{
        height: 25px;
        width: 80%;
    }
    #pagamento .pagamento form.cartao label.mod{
        margin-left: 15%;
    }
    #pagamento .pagamento form.cartao label.mod2{
        margin-left: 25%;
        top: -48px;
    }
    #pagamento .pagamento form.cartao input.mod{
        width: 30%;
        margin-left: -40%;
    }
    #pagamento .pagamento form.cartao input.mod2{
        left: 50%;
        top: -50px;
        /*top: -54px;*/
        width: 30%;
    }
    #pagamento .pagamento form.cartao label.mod8{
        width: 45%;
        margin-left: -25%;
        font-size: 14pt;
    }
    #pagamento .pagamento form.cartao label.mod9{
        width: 40%;
        margin-left: -0%;
        font-size: 14pt;
    }
    #pagamento .pagamento form.cartao input.mod10{
        width: 60%;
        height: 40px;
        margin-top: 20px;
        margin-left: 0%;
    }
    #pagamento .pagamento form.dinheiro h2{
        padding-top: 15px;
        font-size: 14pt;
    }
    #pagamento .pagamento form.dinheiro label.mod1{
        margin-left: 15%;
        font-size: 12pt;
    }
    #pagamento .pagamento form.dinheiro label.mod2{
        text-align: start;
        margin-left: 10%;
        font-size: 12pt;
    }
    #pagamento .pagamento form.dinheiro input.mod3{
        margin-left: -10%;
    }
    #pagamento .pagamento form.dinheiro label.mod4{
        text-align: start;
        margin-left: 4%;
        font-size: 12pt;
    }
    #pagamento .pagamento form.dinheiro input.mod5{
        margin-left: -8%;
    }
    #pagamento .pagamento form.dinheiro label.mod6{
        width: 15%;
        margin-left: 15%;
        font-size: 12pt;
    }
    #pagamento .pagamento form.dinheiro input.mod7{
        width: 35%;
        margin-left: 16%;
    }
    #pagamento .pagamento form.dinheiro label.mod8{
        margin-left: 0%;
        font-size: 12pt;
    }
    #pagamento .pagamento form.dinheiro input.mod10{
        font-size: bold;
        width: 80%;
        margin-left: 10%;
    }
    #cima.activePag{
        position: fixed;
        margin-top: -210px;
    }
    #voltar.activePag{
        margin-top: -140px;
        margin-left: 4%;
    }
    #pagamento.active{
        display: block;
        margin-top: 210px;
    }
    /* /Tela Pagamento */
    /* Tela retirada */
    #cima.activeLc{
        margin-top: -250px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activeLc{
        position: fixed;
        margin-top: -180px;
        margin-left: 2%;
        z-index: 9999;
    }
    #retirada{
        width: 80%;
        margin-left: 10%;
    }
    #retirada h1{
        font-size: 16pt;
    }
    #retirada div.row{
        width: 100%;
        margin-left: 5%;
    }
    #retirada div.row h3{
        font-size: 12pt;
    }
    #retirada div.row label{
        font-size: 12pt;
        width: 8%;
    }
    #retirada div.estabelecimento{
        height: auto;
        padding: 20px;
    }
    #retirada div.estabelecimento h4{
        padding-top: 0px;
    }
    #retirada div.residencia h4{
        font-size: 14pt;
        margin-bottom: 15px;
    }
    #retirada div.residencia div.card a div.row h4{
        font-size: 10pt;
        margin-top: -10px;
    }
    #retirada div.residencia button{
        width: 80%;
        font-size: 11pt;
        margin-top: 20px;
    }
    /* /Tela retirada */
    /* PerfilCli */
    #cliente{
        width: 80%;
        margin-left: 10%;
        padding-bottom: 20px;
    }
    #cliente button{
        width: 70%;
        font-size: 12pt;
        margin-top: 40px;
    }
    #cliente div.cores div.row button{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-left: 18%;
    }
    #cima.activePf{
        margin-top: -250px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activePf{
        position: fixed;
        margin-left: 2%;
        margin-top: -180px;
        z-index: 9999;
    }
    #cliente.activePf{
        margin-top: 250px;
    }
    /* /PerfilCli */
    /* MyAddress */
    #address{
        width: 80%;
        margin-left: 10%;
        padding: 0;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    #address div h4{
        font-size: 10pt;
    }
    #cima.activeAdd{
        margin-top: -310px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activeAdd{
        margin-left: 2%;
        position: fixed;
        margin-top: -240px;
        z-index: 9999;
    }
    #address.activeAdd{
        margin-top: 310px;
    }
    #baixo.activeAdd{
        margin-top: 100px;
    }
    /* /MyAddress */
    /* HistoricoCli */
    #historicoCli{
        width: 80%;
        margin-left: 10%;
    }
    #historicoCli div.row{
        width: 100%;
        margin-left: 0%;
    }
    #historicoCli div.row h4{
        width: 50%;
        font-size: 12pt;
        margin-left: 5%;
        margin-right: -5%;
    }
    #historicoCli div.row div.itens{
        width: 70%;
        margin-left: 15%;
        padding: 20px;
    }
    #historicoCli div.row div.itens h5{
        font-size: 11pt;
    }
    #historicoCli div.row h3{
        font-size: 15pt;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #cima.activeHi{
        margin-top: -250px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activeHi{
        position: fixed;
        margin-left: 2%;
        margin-top: -180px;
        z-index: 9999;
    }
    #historicoCli.activeHi{
        margin-top: 250px;
    }
    #baixo.activeHi{
        margin-top: 100px;
    }
    /* /HistoricoCli */
    /* Gerencia */
    #gerencia{
        width: 80%;
        height: 400px;
        margin-left: 10%;
    }
    #gerencia button{
        width: 80%;
        margin-top: 17%;
        margin-bottom: 17%;
        font-size: 12pt;
    }
    #cima.activeGer{
        margin-top: -250px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activeGer{
        margin-left: 1%;
        position: fixed;
        margin-top: -180px;
        z-index: 9999;
    }
    #gerencia.activeGer{
        margin-top: 250px;
    }
    #baixo.activeGer{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 100px;
        margin-bottom: 0;
    }
    /* /Gerencia */
    /* ControleProdutos */  
    #controleComida button{
        width: 60%;
        margin-left: 20%;
        font-size: 14pt;
    }
    #controleComida .comidas .card{
        width: 80%;
        margin-left: 10%;
    }
    #controleComida .comidas .card div .textos{
        padding-left: 35px;
        padding-top: 5px;
    }
    #controleComida .comidas .card div .textos p{
        font-size: 10pt;
    }
    #controleComida .comidas .card div .textos h3{
        font-size: 12pt;
    }
    #controleComida .comidas .card div .imagem{
        display: none;
        padding: 15px;
        padding-right: 35px;
    }
    #controleComida .comidas .card div a{
        margin-top: 10%;
        font-size: 11pt;
        font-weight: bold;
        text-decoration: none;
    }
    #cima.activeCC{
        margin-top: -250px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activeCC{
        margin-left: 1%;
        position: fixed;
        margin-top: -180px;
        z-index: 9999;
    }
    #controleComida.activeCC{
        margin-top: 250px;
    }
    #baixo.activeCC{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 100px;
        margin-bottom: 0;
    }
    /* /ControleProdutos */
    /* Adicionar */
    #adicionar{
        width: 80%;
        height: 400px;
        margin-left: 10%;
    }
    #adicionar form{
        font-size: 10pt;
    }
    #adicionar form label.arq{
        font-size: 9pt;
        width: 90%;
        margin-top: 15%;
    }
    #adicionar form label{
        font-size: 9pt;
        width: 30%;
        margin-top: 10%;
    }
    #adicionar form input.arq{
        width: 90%;
    }
    #adicionar form input{
        width: 50%;
    }
    #adicionar form button{
        width: 60%;
        margin-top: 10%;
    }
    #cima.activeADC{
        margin-top: -250px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activeADC{
        position: fixed;
        margin-left: 1%;
        margin-top: -180px;
        z-index: 9999;
    }
    #adicionar.activeADC{
        margin-top: 250px;
    }
    #baixo.activeADC{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 100px;
        margin-bottom: 0;
    }
    /* /Adicionar */
    /* Editar Comida */
    #editarComida{
        width: 80%;
        height: 400px;
        margin-left: 10%;
    }
    #editarComida form{
        font-size: 10pt;
    }
    #editarComida form label.arq{
        font-size: 9pt;
        width: 90%;
        margin-top: 15%;
    }
    #editarComida form label{
        font-size: 9pt;
        width: 30%;
        margin-top: 10%;
    }
    #editarComida form input.arq{
        width: 90%;
    }
    #editarComida form input{
        width: 50%;
    }
    #editarComida form button{
        width: 60%;
        margin-top: 10%;
    }
    #cima.activeEC{
        margin-top: -250px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activeEC{
        position: fixed;
        margin-left: 1%;
        margin-top: -180px;
        z-index: 9999;
    }
    #editarComida.activeEC{
        margin-top: 250px;
    }
    #baixo.activeEC{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 100px;
        margin-bottom: 0;
    }
    /* /Editar Comida */
    /* Controle Usuario */
    #controleUsuario .usuarios .card{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: var(--primeira);
        margin-top: 20px;
        margin-left: 10%;
        width: 80%;
        height: auto;
        text-align: center;
    }
    #controleUsuario .usuarios .card div{
        color: var(--quarta);
        padding-top: 5px;
    }
    #controleUsuario .usuarios .card div h3{
        font-size: 9pt;
        margin-left: 5px;
        font-weight: bold;
    }
    #controleUsuario .usuarios .card div p{
        font-size: 8pt;
    }
    #controleUsuario .usuarios .card div a{
        font-size: 9pt;
        font-weight: bold;
        text-align: end;
        margin-left: -5%;
        text-decoration: none;
    }
    #cima.activeCU{
        margin-top: -250px;
        border-bottom: 2px solid var(--quarta);
    }
    #voltar.activeCU{
        position: fixed;
        margin-top: -180px;
        margin-left: 1%;
        z-index: 9999;
    }
    #controleUsuario.activeCU{
        margin-top: 250px;
    }
    #baixo.activeCU{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 100px;
        margin-bottom: 0;
    }
    /* /Controle Usuario */
}