<!DOCTYPE html>
<html lang="pt br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/main.css">
  <title>Carrinho</title>
</head>

<body>
  <!-- Navegação -->
  <div id="cima">
    <div class="navegacao">
      <a href="../index.html">
        <img src="../assets/logoG.png" alt="Logo" class="logo" id="logo">
      </a>
    </div>
  </div>
  <div class="voltar" id="voltar">
    <a href="../index.html">
      <img src="../assets/voltar.png" alt="voltar" class="voltar">
    </a>
  </div>
  <!-- /Navegação -->
  <!-- Carrinho -->
  <div id="telaCarrinho">
    <form action="./pagamento.html" method="post">
      <table class="tabela">
        <div class="row">
          <tr>
            <th class="col-3">
              <p>Picanha</p>
            </th>
            <th class="col-4">
              <div class="row">
                <p class="descri"></p>
                <a href="" class="col-3 btnAd">
                  <img src="../assets/btnMe.png" class="btnMe" alt="Menos">
                </a>
                <p class="col-4 meio">1</p>
                <a href="" class="col-4 btnAd">
                  <img src="../assets/btnMa.png" class="btnMa" alt="Mais">
                </a>
              </div>
            </th>
            <th class="col-4">
              <p>R$ 59,99</p>
            </th>
          </tr>
        </div>
      </table>
      <table class="tabela">
        <div class="row">
          <tr>
            <th class="col-3">
              <p>Picanha</p>
            </th>
            <th class="col-4">
              <div class="row">
                <p class="descri"></p>
                <a class="col-3 btnAd">
                  <img src="../assets/btnMe.png" class="btnMe" alt="Menos">
                </a>
                <p class="col-4">1</p>
                <a class="col-4 btnAd">
                  <img src="../assets/btnMa.png" class="btnMa" alt="Mais">
                </a>
              </div>
            </th>
            <th class="col-4">
              <p>R$ 59,99</p>
            </th>
          </tr>
        </div>
      </table>
      <div class="observacao">
        <label for="observacao">Observações:</label>
        <textarea name="observacao" id="observacao"></textarea>
      </div>
      <div class="valorTotal">
        <div class="row">
          <p class="col-3 space"></p>
          <p class="col-4 txt">Total: </p>
          <p class="col-5 valor">R$ 119,98</p>
        </div>
      </div>
      <div class="button">
        <button type="submit">Comfirmar Pedido</button>
      </div>
    </form>
  </div>
  <!-- /Carrinho -->
  <!-- baixo -->
  <div id="baixo">
    <div class="fimpag">
      <h2 class="titulo">Le chef</h2>
      <h2 class="titulo">Rua fulano de tal, 100, Aldeota</h2>
      <div class="contato">
        <a href="#">
          <img src="../assets/zap.png" alt="Whatsapp" class="zap">
        </a>
        <a href="#">
          <img src="../assets/insta.png" alt="Instagram" class="insta">
        </a>
      </div>
    </div>
  </div>
  <!-- /baixo -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../script/main.js"></script>
</body>

</html>