<!DOCTYPE html>
<html lang="pt br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/main.css">
    <title>Histórico</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="./index.html">Logo</a>
        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./carrinho.html">Carrinho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./historico.html">Histórico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pedidos.html">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./cadPedidos.html">cadastrar rango</a>
          </li>
        </ul>
      </nav>
      
    <h1>Histórico</h1>
    <form action="./index.html">
    <center><input type="submit" value="Voltar ao inicio"></center>
    </form>
</body>
</html>