<!DOCTYPE html>
<html lang="pt br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <title>Perfil</title>
</head>

<body>
    <!-- Navegação -->
    <div id="cima">
        <div class="navegacao">
          <a href="../index.php">
            <img src="../assets/logoG.png" alt="Logo" class="logo" id="logo">
          </a>
        </div>
      </div>
      <div class="voltar" id="voltar">
        <a href="../index.php">
          <img src="../assets/voltar.png" alt="voltar" class="voltar">
        </a>
      </div>
    <!-- /Navegação -->
    <!-- PerfilCliente -->
    <div id="cliente">
        <button onclick="window.location.replace('./newEndereco.php')">Cadastrar novo Endereço</button>
        <button onclick="window.location.replace('../controller/controleEndereco.php?acao=listarClientePerfil')">Meus Endereços</button>
        <button onclick="window.location.replace('../controller/controleArrayComida.php?acao=recuperar')">Historico de Pedidos</button>
        <div class="cores">
          <div class="row">
            <button class="azul col-4" onclick="mudarCorAzul();"></button>
            <button class="vermelha col-4" ></button>
            <button class="preto col-4" onclick="mudarCorPreto();"></button>
          </div>
        </div>
    </div>
    <!-- /PerfilCliente -->
    <!-- baixo -->
    <div id="baixo">
        <div class="fimpag">
            <h2 class="titulo">Le chef</h2>
            <h2 class="titulo">Rua fulano de tal, 100, Aldeota</h2>
            <div class="contato">
                <a href="#">
                    <img src="../assets/zap.png" alt="Whatsapp" class="zap">
                </a>
                <a href="#">
                    <img src="../assets/insta.png" alt="Instagram" class="insta">
                </a>
            </div>
        </div>
    </div>
    <!-- /baixo -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../script/mudarCor.js"></script>
    <script src="../script/main.js"></script>
</body>

</html>